
body {
    margin-left:10%;
    margin-right:10%;

}
h1 {
    text-align: center;
}
#date{
    background-image: linear-gradient(90deg, white, #5ee7e7, #a1789e, white);

}
.shosy {
    margin-right: 5%;
    float: left;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.pucka {
    font-style: italic;
    font-size: 14px;
}
